/* Your form design */
.qbar-body{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-top: 200px;
}

.location {

}

.qbar-card{
  width: 250px;
  /*border: solid grey 1px;*/
  align-items: center;
  padding: 20px;
}


